@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

/* - Reset CSS - */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- */

/* - General - */
body {
	min-height: 100%;
	background: center/cover no-repeat fixed;
	transition: all .5s linear;
	font-family: 'Quicksand', sans-serif;
	position: inherit;
}

h1,
h2,
h3 {
	display: flex;
	align-items: center;
	gap: 7px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	padding: 5px;
}

h2 {
	margin-bottom: 10px;
}

h3 {
	font-size: 16px;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(25px);
	position: fixed;
	z-index: 3;
	top: 10px;
	left: 10px;
	gap: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.nav>img {
	width: 20px;
	padding: 10px;
}

/* .mode-btn {
	width: 50px;
	border-radius: 15px;
	background-color: rgb(202, 242, 255);
	padding: 5px;
	cursor: pointer;
} */

.circle {
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(25px);
	background-image: url(../assets/img/sun.png);
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform .5s ease-out, background-color .5s ease-out;
	position: fixed;
	top: 10px;
	right: 10px;
}

.circle:hover,
.nav:hover {
	box-shadow: 0px 0px 10px 5px #0080DF;
}

a {
	gap: 5px;
	text-decoration: none;
	color: black;
	padding: 10px;
}

.icon {
	width: 25px;
	filter: invert(29%) sepia(85%) saturate(1611%) hue-rotate(186deg) brightness(102%) contrast(101%);
}

.bold {
	font-weight: 600;
}

.important {
	color: #0080DF;
}

.div-btn {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 15px 0px;
}

.btn {
	padding: 7px 10px;
	border: none;
	background-color: rgba(0, 0, 0, 0.85);
	border-radius: 5px;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
}

.btn:focus {
	outline: none;
}

input {
	border: .5px solid black;
	border-radius: 3px;
	padding: 5px;
	margin: 2px 0px;
	font-family: 'Quicksand', sans-serif;
}

input:focus {
	outline: none;
	border: 2px solid #86DAFF;
}

.hidden {
	display: none;
}

.main-index,
.main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.main {
	justify-content: center;
	align-items: center;
}

/* - Dark Mode - */
.dark-mode .nav {
	background-color: transparent;
}

.dark-mode .circle {
	background-image: url(../assets/img/moon.png);
	background-color: transparent;
}

.dark-mode .nav:hover,
.dark-mode .circle:hover {
	background-color: transparent;
	box-shadow: 0px 0px 10px 5px #86DAFF;
}

.dark-mode .div-clock,
.dark-mode .div-weather,
.dark-mode .div-links,
.dark-mode .div-password {
	color: white;
	background-color: rgba(37, 43, 74, 0.4);
	border: .5px solid rgba(255, 255, 255, 0.75);
}

.dark-mode .icon {
	filter: invert(75%) sepia(64%) saturate(1727%) hue-rotate(178deg) brightness(112%) contrast(102%);
}

.dark-mode .black-icon,
.dark-mode .nav>img {
	filter: invert();
}

.dark-mode input:focus {
	border: 2px solid #86DAFF;
}

.dark-mode .btn,
.dark-mode .delete-link-btn {
	background-color: #86dbffd5;
}

.dark-mode .link button {
	color: black;
}

.dark-mode .clock {
	color: white;
}

.dark-mode .important,
.dark-mode .div-password h3:hover {
	color: #86DAFF;
}

.dark-mode .now {
	background-color: #86dbff83;
}

/* - Index - */
.clock {
	box-sizing: border-box;
	width: 100%;
	margin: 45px 0px 10px 0px;
	order: 1;
}

.index-content {
	display: flex;
	flex-wrap: wrap;
	order: 2;
}

.links,
.weather,
.password,
.spacer {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: 50%;
}

.password {
	position: relative;
	top: -10em;
}

.div-clock,
.div-weather,
.div-links,
.div-password {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: fit-content;
	line-height: 25px;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(25px);
	border: .5px solid rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	padding: 20px 25px;
	margin: 20px;
}

/* - Clock - */
.div-clock {
	width: max-content;
}

#time-date {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px 0px;
	font-family: 'Poppins', sans-serif;
}

.time {
	display: flex;
	align-items: center;
	height: 50px;
	font-size: 50px;
}

.date {
	margin-top: 10px;
	font-size: 20px;
}

#quote {
	font-size: 16px;
	text-align: center;
}

/* - Links - */
.div-transparent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: min-content;
}

.link-input {
	box-sizing: border-box;
	width: 100%;
}

#linkList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
	width: 90%;
	height: 300px;
	overflow: scroll;
}

.link {
	display: flex;
	height: fit-content;
	margin-top: 10px;
}

.link button {
	color: white;
}

.word {
	padding: 10px 7px;
	border: .5px solid rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(25px);
}

.delete-link-btn {
	border: transparent;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.54);
	height: fit-content;
	position: relative;
	top: -7px;
	right: 10px;
}

.delete-link-btn:hover {
	cursor: pointer;
}

/* - Weather - */
.div-weather {
	align-items: start;
	gap: 15px;
}

.div-search {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	background-color: white;
	border-radius: 5px;
}

.search-bar-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
}

.search-bar-container input {
	width: 85%;
	border: none;
}

#search-btn {
	height: 20px;
	opacity: 70%;
	cursor: pointer;
}

#search-location-results {
	box-sizing: border-box;
	width: 100%;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	z-index: 1;
}

.select-location:hover {
	cursor: pointer;
	background-color:#aedcff;
}

#weatherLocation {
	font-family: 'Poppins', sans-serif;
}

#weatherLocation p:first-child {
	font-size: 20px;
}

#currentWeather {
	display: flex;
	align-items: center;
	gap: 20px;
}

#currentWeather>p {
	font-size: 28px;
	margin: 0px -20px 0px 0px
}

.div-weather .black-icon {
	width: 40px;
}

.detailed-weather {
	padding: 5px;
}

.div-forecast {
	box-sizing: border-box;
	width: 100%;
}

.div-forecast>p {
	font-family: 'Poppins', sans-serif;
}

#hourForecast {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	margin-top: 10px;
	overflow: scroll;
}

#hourForecast li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.now {
	color: white;
	border-radius: 5px;
	background-color: #007edf9b;
}


/* - Password - */
.password-tittles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div-password h3 {
	margin-top: 15px;
}

.div-password h3:hover {
	color: #0080DF;
	cursor: pointer;
}

.div-password input {
	margin: 2px 0px 2px 15px;
}

.password-tittles>p,
#custom>p {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#generated-password {
	padding: 12px;
	box-sizing: border-box;
	width: 100%;
	overflow: scroll;
	text-align: center;
}

#warning {
	text-align: center;
	margin-top: 10px;
	max-width: 500px;
}

@media (max-width: 900px) {
	.index-content {
		flex-direction: column;
		align-items: center;
	}

	.weather {
		order: 1;
	}

	.password {
		width: 100%;
		top: 0px;
		order: 2;
	}

	.links {
		width: 100%;
		order: 3;
	}
}



/* - GLOWBUTTON - */
/* .glowbutton {
	color: white;
	border: none;
	background-color: black;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.glowbutton:before {
	content: "";
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	position: absolute;
	z-index: -1;
	top: -2px;
	left: -2px;
	background-size: 400%;
	border-radius: 4px;
	filter: blur(3px);
	opacity: 1;
	animation: glowing 20s linear infinite;
	transition: opacity .3s ease-in-out;
}

.glowbutton:after {
	content: "";
	background: #111;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 4px;
	position: absolute;
	z-index: -1;
}

@keyframes glowing {
	0% {
		background-position: 0 0
	}

	50% {
		background-position: 400% 0
	}

	100% {
		background-position: 0 0
	}
} */

/* background: linear-gradient(1turn,#bacc5b,#25c2a3 50.33%,#13c1ac); */