@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

/* - Reset CSS - */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --- */

/* - General - */
body {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .5s linear;
	font-family: 'Quicksand', sans-serif;
	position: inherit;
	z-index: -5;
}

h1,
h2,
h3 {
	display: flex;
	align-items: center;
	gap: 7px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	padding: 5px;
}

h2 {
	margin-bottom: 10px;
}

h3 {
	font-size: 16px;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	gap: 10px;
	backdrop-filter: blur(25px);
}

a {
	gap: 5px;
	text-decoration: none;
	color: black;
	padding: 15px;
}

/* a:hover {
	background-color: white;
	box-shadow: 0px 0px 10px 5px rgb(42, 188, 255);
} */

.icon {
	width: 25px;
}

.bold {
	font-weight: 500;
}

.important {
	color: rgb(18, 112, 195);
}

.hidden {
	display: none;
}

.div-btn {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 15px 0px;
}

.btn {
	padding: 7px 10px;
	border: none;
	background-color: black;
	border-radius: 5px;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
}

.btn:focus {
	outline: none;
}

input {
	border: .5px solid black;
	border-radius: 3px;
	padding: 5px;
	margin: 2px 0px;
	font-family: 'Quicksand', sans-serif;
}

input:focus {
	outline: none;
	border: 2px solid rgba(124, 194, 255);
}

.main-index,
.main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.main {
	justify-content: center;
	align-items: center;
}


/* - Index - */
.clock {
	box-sizing: border-box;
	width: 100%;
	margin: 40px 0px 10px 0px;
	order: 1;
}

.index-content {
	display: flex;
	flex-wrap: wrap;
	order: 2;
}

.links,
.weather,
.password,
.spacer {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: 50%;
}

.password {
	position: relative;
	top: -13em;
}

.div-clock,
.div-weather,
.div-links,
.div-password {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 400px;
	height: fit-content;
	line-height: 25px;
	background-color: rgba(174, 193, 201, 0.45);
	padding: 20px 25px;
	margin: 20px;
	border-radius: 10px;
}


/* - Clock - */
.div-clock {
	line-height: 25px;
	width: max-content;
}

#time-date {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px 0px;
	font-family: 'Poppins', sans-serif;
}

.time {
	margin-top: 10px;
	font-size: 50px;
}

.date {
	margin-top: 20px;
	font-size: 20px;
}

#quote {
	font-size: 16px;
	text-align: center;
}

/* - Weather - */
.div-weather {
	align-items: start;
	gap: 15px;
}

#weatherLocation {
	font-family: 'Poppins', sans-serif;
}

#weatherLocation p:first-child {
	font-size: 20px;
}

#weatherLocation p:nth-child(2) {
	color: rgb(18, 112, 195);
}

#currentWeather {
	display: flex;
	align-items: center;
	gap: 20px;
}

#currentWeather>p {
	font-size: 28px;
	margin: 0px -20px 0px 0px
}

.div-weather .icon {
	width: 40px;
}

.detailed-weather {
	padding: 5px;
}

.div-forecast {
	box-sizing: border-box;
	width: 100%;
}

.div-forecast>p {
	font-family: 'Poppins', sans-serif;
}

#hourForecast {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	margin-top: 10px;
	overflow: scroll;
}

#hourForecast li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.now {
	color: white;
	background-color: rgba(18, 112, 195, .400);
}

/* - Links - */
.div-transparent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: min-content;
}

.link-input {
	box-sizing: border-box;
	width: 100%;
}

#linkList {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	gap: 7px;
	margin: 20px 10px 20px 20px;
	width: 85%;
	height: 300px;
	overflow: scroll;
}

.link {
	display: flex;
	height: fit-content;
	margin-top: 10px;
}

.word {
	padding: 10px 15px;
	border-radius: 5px;
	background-color: rgba(124, 194, 255, .450);
}

.delete-link-btn {
	border: transparent;
	border-radius: 5px;
	background-color: rgba(255, 124, 124, 0.6);
	height: fit-content;
	position: relative;
	top: -7px;
	right: 10px;
}

.delete-link-btn:hover {
	cursor: pointer;
}

/* - Password - */
.password-tittles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div-password h3 {
	margin-top: 15px;
}

.div-password h3:hover {
	color: rgb(18, 112, 195);
	cursor: pointer;
}

.div-password input {
	margin: 2px 0px 2px 15px;
}

.password-tittles>p,
#custom>p {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#generated-password {
	padding: 12px;
	box-sizing: border-box;
	width: 100%;
	overflow: scroll;
	text-align: center;
}

#warning {
	text-align: center;
	margin-top: 10px;
	max-width: 500px;
}

@media (max-width: 990px) {
	.index-content {
		flex-direction: column;
		align-items: center;
	}

	.weather {
		order: 1;
	}

	.password {
		width: 100%;
		top: 0px;
		order: 2;
	}

	.links {
		width: 100%;
		order: 3;
	}
}



/* - GLOWBUTTON - */
/* .glowbutton {
	color: white;
	border: none;
	background-color: black;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.glowbutton:before {
	content: "";
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	position: absolute;
	z-index: -1;
	top: -2px;
	left: -2px;
	background-size: 400%;
	border-radius: 4px;
	filter: blur(3px);
	opacity: 1;
	animation: glowing 20s linear infinite;
	transition: opacity .3s ease-in-out;
}

.glowbutton:after {
	content: "";
	background: #111;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 4px;
	position: absolute;
	z-index: -1;
}

@keyframes glowing {
	0% {
		background-position: 0 0
	}

	50% {
		background-position: 400% 0
	}

	100% {
		background-position: 0 0
	}
} */

/* background: linear-gradient(1turn,#bacc5b,#25c2a3 50.33%,#13c1ac); */

/* PALETTES */
/* Light mode 1 blue*/
/* --alice-blue: #e3f2fdff;
--uranian-blue: #bbdefbff;
--light-sky-blue: #90caf9ff;
--argentinian-blue: #64b5f6ff;
--argentinian-blue-2: #42a5f5ff;
--dodger-blue: #2196f3ff;
--bleu-de-france: #1e88e5ff;
--french-blue: #1976d2ff;
--green-blue: #1565c0ff;
--cobalt-blue: #0d47a1ff; */

/* Light mode 2 lilac */
/* --alice-blue: #edf2fbff;
--lavender-web: #e2eafcff;
--lavender-web-2: #d7e3fcff;
--periwinkle: #ccdbfdff;
--periwinkle-2: #c1d3feff;
--periwinkle-3: #b6ccfeff;
--jordy-blue: #abc4ffff; */

/* Possible Dark mode 1 */
/* --pale-azure: #97dffcff;
--tropical-indigo: #858ae3ff;
--iris: #613dc1ff;
--indigo: #4e148cff;
--russian-violet: #2c0735ff; */

/* Possible Dark mode 2, purple */
/* #0C134F
#1D267D
#5C469C
#D4ADFC */